In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spam_ham_dataset.csv",encoding="latin-1")
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [3]:
df.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [4]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('stopwords')
ps = PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sures\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
def clean(text):
    #Removing links,#tag,@mentions
    text = re.sub(r'@ [A-Za-z0-9]+','',text)
    text = re.sub(r'#','',text)
       
    text = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", text)
    text = re.sub(r"\b[a-zA-Z]\b", "", str(text))
    text = re.sub(r'(.)\1+', r'\1\1', text)
    text = re.sub(r"[^\w\s]", " ", str(text))
    text = re.sub(r"\d+", " ", str(text))
    text = re.sub(r'Subject','',text)
    
    text = " ".join(text.split())
    
    text = text.replace("_", " ") 
   
  
    
    return text

In [6]:
df['content']=df['text'].apply(clean)

In [7]:
df

,Unnamed: 0,label,text,label_num,content
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,enron methanol meter this is follow up to the ...
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,hpl nom for january see attached file hplnol x...
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,neon retreat ho ho ho we re around to that mos...
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,photoshop windows office cheap main trending a...
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,re indian springs this deal is to book the tec...
...,...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0,put the on the ft the transport volumes decrea...
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0,and following noms hpl can take the extra mmcf...
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0,calpine daily gas nomination julie as mention ...
5169,1409,ham,Subject: industrial worksheets for august 2000...,0,industrial worksheets for august activity atta...
5170,4807,spam,Subject: important online banking alert\r\ndea...,1,important online banking alert dear valued cit...

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.content,df.label_num)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()

model.fit(X_train_count,y_train)

MultinomialNB()

In [11]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9806651198762568

In [12]:
emails = [
    'WINNER!! As a valued network customer you have been selected to receivea Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.',
    ' important'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([1, 0], dtype=int64)